
body{
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


.container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title{
    font-weight: 700;
    font-style: oblique;
    font-size:40px;
    color: darkblue;    
    height:150px;
    text-shadow: 2px 2px BLACK;
    font-family: OCR A Std, monospace;
}

.buttons{
    height: 150px;
}

.buttons > button{
    height: 50px;
    margin: 10px;
    background-color: darkblue; 
    border-radius: 5px;
    box-shadow: 2px 2px black;
    color:#eee;
    font-size:18px;
    font-weight: bold;
}   
.slidecontainer{
    margin-bottom: 10px;
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.slider{
    box-shadow: 2px 2px;
    background-color: darkblue; 
}

#row-value, #column-value{
    text-shadow: 2px black;
    font-weight: bold;
}

.grid{
    height: 750px;
    width: 750px;
    border:5px;
    display:grid;
    box-shadow: 6px 6px black;

}

.gridBox{
    background-color: white;
}


.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #eee;
  }

  .fa-github {
    color: var(--primary-dark);
    font-size: 24px;
    transition: transform 0.3s ease-in-out;
  }
  
  .fa-github:hover {
    transform: rotate(360deg) scale(1.2);
  }


/*credits to w3school*/
  /* The slider itself */
.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
  }
  
  /* Mouse-over effects */
  .slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }
  
  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: darkblue;  /* Green background */
    cursor: pointer; /* Cursor on hover */
  }